.logo {
  font-size: 1.7rem;
  font-weight: 800;
  color: #8e3e63;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 170px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 15px 40px;
  border-radius: 50px;
  background: #8e3e63;
  text-decoration: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.nav-connect-btn {
  padding: 15px 40px;
  border-radius: 50px;
  background: #8e3e63;
  text-decoration: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: pink;
}

.active-link {
  color: rgb(
    204,
    21,
    210
  ) !important; /* Added !important to ensure it overrides other styles */
  font-weight: bold; /* Optional: makes the active link bold */
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }

  .nav-connect {
    display: none;
  }

  .nav-connect-btn {
    display: block;
    margin-top: 40px;
    margin-left: 40px;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    right: -350px;
    transition: right 0.5s;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
